@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Luckiest+Guy&family=Poppins:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
  
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-image: url(./Images/bg-texture.png);
  background-color: #1f1f38;
  font-family: 'Poppins', sans-serif; 
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.7;
}
:root {
  --transition: all 400ms ease;
  font-family: 'Poppins', sans-serif;
}
.Header {
  margin-bottom: 4rem;
}
.Hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.Headerlinkdiv {
  display: flex;
  gap: 1rem;
 justify-content: center;
 margin-top: 2.5rem;
}
.Headerlink {
  border: 1px solid rgba(77, 181, 255, 0.4);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  color: rgba(77, 181, 255, 0.4);
  transition: var(--transition);
}
.Headerlink2 {
  border: none;
  background-color: #4db5ff;
  border: 1px solid #4db5ff;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  color: #1f1f38;
  transition: var(--transition);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
.Headericons {
  position: absolute;
  left: 12%;
  bottom: 23%;
  transform: scale(1.5,1);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
.Scrolldown {
  position: absolute;
  right: 10%;
  bottom: 28.5%;
  transform: rotate(90deg);
  color: #4db5ff;
}
.me {
  width: 80%;
  max-width: 27rem;
  background: linear-gradient( #4db5ff, #1f1f38);
  padding: 6rem 1rem 0 1rem;
  border-radius: 20rem 20rem 0 0;
  transform: scale(0.95, 0.9);
  margin-top: 0.5rem;
}
.Headerimgdiv {
  display: flex;
  justify-content: center;
}
a {
  transition: var(--transition);
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
.Nav {
  transform: scale(1.5,1);
  display: none;
  gap: 1.3rem;
  position: fixed;
  bottom: 7%;
  left: 42.4%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  max-width: 100%;
  padding: 0.9rem 1.31rem;
  border-radius: 2rem;
  backdrop-filter: blur(50px);
  
}
.Nav > a {
  border-radius: 50%;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
}
.Nav > a:hover {
  background-color: #1f1f38;
}
.hover {
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 600px) {
  .Scrolldown {
    display: none;
  }
   /* .me {
    width: 65%;
  }  */
}


/* /================ About=======================/ */
.About {
  margin-bottom: 10rem;
}
.Aboutheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.Aboutheader > h1 {
  color: #4db5ff;
}
.Aboutmaindiv {
  display: grid;
  grid-template-columns: 50% 50%;
}
.Aboutright >div {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin: 3rem 0 2rem 0;
  flex: 1;
}
.Aboutright >div >article {
  background-color: #2c2c6c ;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  align-items: center;
  color: #4db5ff;
}
.Aboutright >div >article >p  {
  margin-top: 1.5rem;
  color: white;
}
.Aboutright >div >article >h5 {
  color: rgba(255, 255, 255, 0.5);

}
.Aboutleft {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Aboutright {
  width: 80%;
}
.Aboutright >div :hover {
  background: transparent;
  transition: var(--transition);
}
.Aboutmaindiv > div >p {
  text-align: left;
  margin-top: 3rem;
}
.Aboutimg {
  display: flex;
  justify-content: center;
  background: linear-gradient( 45deg, transparent, #4db5ff, transparent);
  border-radius: 2rem;
  width: max-content;
  margin-top: 3rem;
}
.Aboutimg img {
  max-width: 25rem;
  width: 100%;
  border-radius: 2rem;
  transform: rotate(10deg); 
  transition: var(--transition); 
}
.Aboutimg img:hover {
  transform: rotate(0deg);
}
.Aboutlink3 {
 margin-top: 2rem; 
}
@media screen and (max-width: 965px) {
  .Aboutmaindiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .Aboutimg {
    width: 60%;
  }
  .Aboutright {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}


/* =====================My Experience==================== */
.Experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
.Fullstack {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}
.Fullstack :hover{
  background: transparent;
  border: 1px solid #4db5ff;
  transition: var(--transition);
  cursor: default;
}
.Fullstack >div :hover {
  background: transparent;
  border: none;
}
.Orderedlist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 9rem;
  margin-top: 1.5rem;
}
.Frontend {
  background-color: #2c2c6c;
  padding: 2rem 7rem 2rem 4rem;
  border-radius: 2rem;
  min-height: 371.02px;
 
}
.Frontend :hover {
  background: transparent;
}
.Frontend h3 {
  text-align: center;
  margin-top: 0.7rem;
  color: #4db5ff;
}
.iconsexp {
  display: flex;
}
@media screen and (max-width: 600px) {
  .Orderedlist {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    align-items: center;
  }
  .Frontend {
    width: 80%;
  }
}
/* =====================Services==================== */
.Servicemain {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 2.8rem;
  margin-bottom: 8rem;
}
.Servicemain :hover {
  background: transparent;
  transition: var(--transition);
  color: #4db5ff;
}
.Servicemain >div {
  border: 1px solid #4db5ff;
  background-color: #2c2c6c;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
}
.Servicemain >div >header {
  text-align: center;
  padding: 2rem;
  background-color: #4db5ff;
  border-radius: 0 0 2rem 2rem;
  color: #1f1f38;
  font-weight: 600;
}
.Servicemain >div >main {
  padding: 2rem 7rem 2rem 3rem;
}

.Servicemain >div >main >ul >ol {
  padding: 1rem;
}
.Firstthirddiv {
  height: fit-content
}
@media screen and (max-width: 600px) {
    .Servicemain >div {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
}
/* =====================Portfolio==================== */
.Portfoliomain {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  margin-bottom: 10rem;
}
.Portfoliomain >div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;

}
.Eachport {
 background-color: #2c2c6c;
  padding: 2rem;
  border-radius: 2rem;
  height: fit-content;
}

.Eachport >image >img {
  max-width: 350px;
  max-height: 350px;
  border-radius: 2rem;
  width: 100%;
  height: auto;
}
.Eachport >image :hover {
  transform: rotate(360deg);
  transition: all 1000ms ease;
}
.Eachport > h3 {
  display: flex;
  max-width: fit-content;
}
.Eachport >section {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1350px) {
  .Portfoliomain >div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .Portfoliomain >div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
}
/* =====================Testimonial==================== */
.Testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Avatar2 {
  max-width: 4rem;
  border-radius: 50%;
  border: 5px solid #4db5ff;
  margin-bottom: 2rem;
}

/* =====================Contact==================== */
.Contactmain {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 4rem;
}
.Contactarticle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
.Contactarticle >article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 330px;
  align-items: center;
  background-color: #2c2c6c;
  padding: 1.6rem;
  border-radius: 2rem;
  margin-left: 6rem;
}
.Contactarticle >article >a {
  color: #4db5ff;
  margin-top: 1rem;
}
.Contactarticle >article >a:hover{
  color: #1f1f38;
}
.Contactform {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  gap: 1.5rem;
  min-width: 350px;
}
.Contactform >input {
  height: 4.5rem;
  border-radius: 1rem;
  background: transparent;
  border: 1px solid #2c2c6c;
  outline: none;
  padding: 2rem;
  font-size: medium;
  color: white;
}
.Contactform >textarea {
  resize: none;
  height: 14rem;
  border-radius: 1rem;
  background: transparent;
  border: 1px solid #2c2c6c;
  outline: none;
  padding: 2rem;
  font-size: larger;
  color: white;
}
.Contactform >button {
  max-width: 30%;
}
.Contactform >button:hover {
  color: #ffffff; 
}
.Contacticons {
  min-width: 2rem;
}
@media screen and (max-width: 1000px) {
  .Contactmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .Contactarticle >article {
    margin-left: 0rem;
  }
}
